<div class="main-container">
    <div class="alert alert-app-level">

    </div>
    <header class="header header-6">
        <div class="branding">
          <span class="title">Diet Tracker</span>
        </div>
        <div class="header-nav">
            <a href="#" class="active nav-link nav-text">Home</a>
        </div>
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            Content
        </div>
    </div>
</div>
